body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  position: relative;
}

.logout-btn, .leaderboard-btn {
  position: absolute;
  top: -5px;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn {
  right: 10px;
  background-color: #d9534f;
}

.logout-btn:hover {
  background-color: #c9302c;
}

.leaderboard-btn {
  right: 95px; /* Aligned next to the logout button */
  background-color: #644fd9;
}

.leaderboard-btn:hover {
  background-color: #2c2fc9;
}

.game-container,
.leaderboard-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

.color-box {
  width: 300px;
  height: 200px;
  margin: 20px auto;
  background-color: #ccc;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.option {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button {
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

/* Media query for responsive adjustments */
@media (max-width: 600px) {
  .color-box {
    width: 80%;
    height: 150px;
  }

  .option {
    width: 40px;
    height: 40px;
  }

  table {
    font-size: 14px;
  }

  th, td {
    padding: 8px;
  }
}
